@use 'Variables'

.rental-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 20px

.rental-details
    display: flex
    flex-wrap: wrap
    gap: 10px
    width: 100%
    max-width: 1240px
    justify-content: space-between

.rental-name
    gap: 10px
    display: flex
    flex-direction: column
    .rental-title
        font-size: 36px
        color: Variables.$primary-color
        font-weight: 500
        margin: 0

    .rental-location
        font-size: 18px
        color: black
        font-weight: 500
        margin: 0

.rental-host
    display: flex
    flex-direction: column
    justify-content: center
    gap: 10px
    .rental-host-details
        display: flex
        align-items: center
        gap: 10px
        .host-name
            font-size: 18px
            color: Variables.$primary-color
            font-weight: 500
            margin: 0
        .host-picture
            width: 64px
            height: 64px
            border-radius: 50%
            object-fit: cover

.rental-description
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    .about-details
        width: 33rem

@media screen and ( max-width: Variables.$breakpoint)
    .rental-container
        width: 100%

    .rental-host
        flex-direction: row-reverse
        justify-content: space-between
        width: 100%

    .rental-description
        gap: 20px
        .about-details
            padding: 0px
            width: 25rem
